/*
	Be by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)

*/
html,
body {
    background-color: rgb(27, 123, 136);
    width: 100%;
    height: 100%;
    font-family: arial;
    font-size:14px;
}

a {
    transition: all 0.35s ease 0s;
    -webkit-transition: all 0.35s ease 0s;
     -moz-transition: all 0.35s ease 0s;
}
